<%= bootstrap_form_for(@concept) do |f| %>
<div class='row'>
  <div class="col-sm-12">
    <%= f.text_field :concept %>
    <%= f.text_area :description %>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <%= f.date_field :date, value: Date.today %>
  </div>
  <div class="col-sm-4">
    <%= f.select :difficulty, options_for_select(Concept.difficulties.keys), { label: "Difficulty level:" }, { class: "selectpicker" } %>
  </div>
  <div class="col-sm-4">
    <%= f.select :state, options_for_select(Concept.states.keys), { label: "Mood:" }, { class: "selectpicker" } %>
  </div>
</div>
<%= link_to 'Cancel', concepts_path, class: "btn btn-default pull-left" %>
<%= f.submit class: "btn btn-primary pull-right" %>
<% end %>
