<div class="container">
  <h1><%= @concept.concept %> </h1>
  <br>
  <%= @concept.date %> <br>
  <%= @concept.description %> <br>
  <%= @concept.difficulty %> <br>
  <%= @concept.state %>
  <% if user_signed_in? %>
  <p>
    <%= link_to "Edit", edit_concept_path(@concept), class: "btn btn-default" %>
    <%= link_to 'Delete' , concept_path(@concept), method: :delete , class: "btn btn-danger", data: {confirm: "are you sure you want to delete it?"}  %>
    <%= link_to "OK", concepts_path , class: "btn btn-primary" %>
    <% end %>
  </p>
</div>
