<div class="container">
  <h2>
    email:<strong><%= @user.email %> </strong>
  </h2>
</div>
<div class=" container lastest-concepts">
  <h2>Concepts:<strong><%= @user.concepts.count %> </strong></h2>
  <div class="row">
    <div class="block-grid-lg-4 block-grid-md-3 block-grid-sm-3 block-grid-xs-2">
      <% @concepts.each do |concept| %>
      <div class="block-grid-item">
        <div class="thumbnail">
          <h3><%= concept.concept %></h3>
          <ul class="tags list-inline">
            <li><a href="#">Jquery</a></li>
            <li><a href="#">Html</a></li>
            <li><a href="#">CSS</a></li>
          </ul>
          <p class="small">Dificulty: <strong><%= concept.difficulty %></strong></p>
          <p>
            <%= link_to 'See Concept', public_concept_path(concept.id), class: "btn btn-default btn-sm" %>
          </p>
          <p class="small">by: <%= link_to "#{concept.user.email}", public_user_path(concept.user.id) %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <hr>
  <p> <%= link_to 'back', :back, class: "btn btn-default" %></p>

</div>
